<div class="container py-4 px-4 my-4 bg-dark text-white">
    <div class="jumbotron bg-white text-dark">
        <h1>ACME</h1>
        <p>Invoicing application.
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="row py-3 mx-5">
        <div class="col-4">
            <h3>Free</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa asperiores magni illum nostrum quo commodi, distinctio, quidem quia ullam velit, earum nam qui quibusdam veritatis accusamus delectus et fugiat laboriosam!</p>
        </div>
        <div class="col-4">
            <h3>Paid</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa asperiores magni illum nostrum quo commodi, distinctio, quidem quia ullam velit, earum nam qui quibusdam veritatis accusamus delectus et fugiat laboriosam!</p>
        </div>
        <div class="col-4">
            <h3>Enterprise</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa asperiores magni illum nostrum quo commodi, distinctio, quidem quia ullam velit, earum nam qui quibusdam veritatis accusamus delectus et fugiat laboriosam!</p>
        </div>
    </div>
</div>