<nav class="navbar navbar-expand-sm navbar-dark bg-dark"> 
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Hero</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/invoicing']">Invoicing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/clients']">Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']">Contact</a>
      </li>
    </ul>
</nav>